@use "./partials/header.scss" as *;
@use "./partials/footer.scss" as *;
@use "./partials/home.scss" as *;
@use "./partials/card.scss" as *;
@import "~bootstrap";
@import "~fontawesome";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


