.container-fluid {
    display: flex;
    justify-content: center;

    .container {
        width: 80%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 50px;
    }


}